html{
    font-size: 18px;
}

html body{
    margin: 0px;
    padding: 0;
}

body{
    color:rgb(8, 22, 43);
    font-family: 'Open Sans';
    font-size: 1rem;
    background-image: linear-gradient(white, rgb(199, 199, 199));
    width: 100%;
}

body h1{
    color:#f61067;
    font-weight: bold;
    font-size: 2rem;
    padding-top:0px;
    margin-top: 5px;
    text-align: center;
}

body h2{
    color:#464646;
    font-size: 1.5rem;
    text-align: center;
    margin: 25px;
    padding-top:30px;
}

body h3{
    color:#741cff;
    font-weight: bold;
    font-size: 1.25rem;
}

body p{
    padding: 40px;
}

h3{
    text-align: center;
}

img {
    width: 100%;
}

nav {
    text-align: center;
    position: fixed;
    margin-top: 20px;
}

.navwrapper {
    display: none;
    list-style: none;
    margin: 0;
    padding: 15px;
    align-items: center;
    background: white;
    box-shadow: 0px 5px 10px grey;
    border-radius: 40px;
}

.navwrapper li{
    margin: 10px 20px;;
}

.navwrapper a{
    text-decoration: none;
    color: rgb(8, 22, 43);
    border-color: rgb(8, 22, 43);
    border-style: solid;
    padding: 10px;
    border-radius: 40px;
    border-width: thin 2px;
}

.navwrapper a:hover {
    color:white;
    background-color: #f61067;
    border-style:none;
    padding: 12px;
}

#icon{
    max-width:65px;
    padding: 0px;
}

.content{
    margin: 0 auto;
    display: inline-block;
}

.content footer form{
    justify-content: center;
}

.hero{
    padding: 150px 25px 0px;
    max-width: 400px;
    margin: 0 auto;
}

.pwrapper {
    width: 100%;
    margin: 0 auto;
}

.pwrapper div {
    padding: 10px;
}

.pwrapper img{
    padding: 10px 0;
}

section h3{
    padding-top:100px;
}

.radar{
    padding: 40px;
}

footer p{
    text-align: center;
}

form label{
    text-align: left;
    display: inline-block;
}

body .form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    margin: 30px;
    text-align: center;
    max-width: 400px;
}

form div{
    /* text-align: center; */
    margin-top: 15px;
}

form div label{
    font-size: .9rem;
}

form input{
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    width: 230px;
    box-sizing: border-box;
}

form .subbutton{
    padding: 10px;
}

form button{
    padding: 5px 10px;
}

@media (min-width: 800px){
    .navwrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navwrapper>a{
        border: none;
    }

    .navwrapper>a:hover{
        padding:10px;
    }

    .hero{
        padding: 50px 25px opx;
    }
}